<html>
    <body>
        <h1>Users</h1>
        {{range .Users}}
        <i>{{.ID}}</i>
        <b>{{.Name}}</b>
        {{.PrintActive}}

        {{if OddUser .}}
        user is odd
        {{end}}
        <br>
        {{end}}
    </body>
</html>