<html>
    <body>
        <h1>Users</h1>
        {{range .Users}}
        <i>{{.ID}}</i>
        <b>{{.Name}}</b>
        {{if .Active}} is active{{end}}
        <br>
        {{end}}
    </body>
</html>